<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Подключение объектов сущностей -->
        <mapping package="ru.kpfu.itis.toyshop.domain"/>
        <mapping class="ru.kpfu.itis.toyshop.domain.Address"/>
        <mapping class="ru.kpfu.itis.toyshop.domain.Cart"/>
        <mapping class="ru.kpfu.itis.toyshop.domain.Category"/>
        <mapping class="ru.kpfu.itis.toyshop.domain.Good"/>
        <mapping class="ru.kpfu.itis.toyshop.domain.Order"/>
        <mapping class="ru.kpfu.itis.toyshop.domain.Order_Good"/>
        <mapping class="ru.kpfu.itis.toyshop.domain.User"/>
    </session-factory>
</hibernate-configuration>