<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Подключение объектов сущностей -->
        <mapping package="ru.dz.labs.api.domain"/>
        <mapping class="ru.dz.labs.api.domain.SubjectInfo"/>
        <mapping class="ru.dz.labs.api.domain.CityInfo"/>
        <mapping class="ru.dz.labs.api.domain.TutorInfo"/>
    </session-factory>
</hibernate-configuration>